[alias]
    br = "branch"

	co = "checkout"
	cm = "commit"

	f = "fetch"

	l = "log --oneline --decorate --graph"

	st = "status"

	sl = "stash list"
	ss = "stash save"
	sp = "stash pop"

	p = "pull"
	pom = "push origin master"
[user]
	name = "Eddie Li"
    # email = "<fill in>"
[core]
	autocrlf = input
	editor = vim
        excludesfile=~/dotfiles/.local_gitignore
