! Remember to run the following to update .Xresources changes:
! xrdb -merge "$HOME/.Xresources"

! Nice Ubuntu font. Found using:
! fc-list :scalale=true:spacing=mono: family
xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 9
xterm*faceNameDoublesize: WenQuanYi Bitmap Song
xterm*renderFont: true

! Using 256 colors
xterm*termName: xterm-256color

! https://superuser.com/questions/1336762/how-do-i-copy-paste-from-the-system-clipboard-in-tmux-in-xterm-on-linux
! https://invisible-island.net/scripts/sample-output/rman-xterm.html
xterm*selectToClipboard: true
xterm*disallowedWindowOps: 20,21,SetXProp

! https://askubuntu.com/questions/442644/how-to-make-xterm-to-send-the-alt-key-to-emacs-as-meta
xterm*metaSendsEscape: true

! http://www.futurile.net/2016/06/14/xterm-setup-and-truetype-font-configuration/
xterm*VT100.Translations: #override \n\
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
    Ctrl <Key>): string(0x1b) string("[1;P1") \n\
    Ctrl <Key>=: string(0x1b) string("[1;P2") \n\
    Ctrl <Key>braceright: string(0x1b) string("[1;P3") \n

! https://forums.opensuse.org/showthread.php/459502-How-to-disable-alt-enter-maximize
xterm*fullScreen: never
xterm.omitTranslation: fullscreen
