set hlsearch
set incsearch
set smartcase
set showmode
set surround
set ideajoin
set clipboard+=unnamed
inoremap jk <Esc>
noremap <C-S> :update<CR>
vnoremap <C-S> <ESC>:update<CR>
inoremap <C-S> <C-O>:update<CR><ESC>
